.App {
    background-color: #dadada;
}

.navbar {
    background: url("./canvas.jpg");
    color: white;
}
.jumbotron{
    background: url("./image.jpg");
    background-position: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer {
    text-align: center;
    padding: 10px;
    background: url("./canvas.jpg");
}
